  <form action="/login" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" name="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 ">
        <input id="password" type="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field center col s12">
        <button class="waves-effect waves-light btn-large">
          Login
        </button>
      </div>
    </div>
    <h6 class="center">OR</h6>
    <div class="row">
      <div class="input-field  center col s12">
        <a class="waves-effect waves-light btn-large grey darken-4" href="/auth/github" >
          Github
        </a>
      </div>
    </div>
  </form>
    